*.directory
*.pyc
*.db
/src/main/python/__pycache__/
/src/main/python/tasks/__pycache__/
/src/main/python/ui/__pycache__/
/src/main/python/utils/__pycache__/
/target/
*.json
*.gpg
/src/main/python/migrations/
/settings.gm
/src/main/python/.vscode/settings.json
/src/main/python/.vscode/
/deploy/
/dist/
/build/
*.spec
/_build/
/__pycache__/
